
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="fh5co-hero fh5co-hero-2">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover fh5co-cover_2 text-center" data-stellar-background-ratio="0.5" style="background-image: url(/images/agaclar.jpg);">
        <div class="desc animate-box">
            <h2>Bizi Yakından Tanıyın</h2>
            <span>Projelerinizi Bize Danışın</span>
        </div>
    </div>
</div>
<!-- end:header-top -->
<div id="fh5co-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 animate-box">
                <h3>İşimiz - Tecrübemiz</h3>
                <p>
                    İva Yazılım Web Tasarım Ajansı, temsil ettiği firmalara, internet konulu kurumsal çözüm ve danışmanlık hizmetleri vermek için kurulmuştur. Kuruluş yılı 2006'dan günümüze dek iş ortaklarının güveni ve sadakatine yön vermek, vazgeçilmez bir çözüm ortağı olmak, web tasarım işinde bir numara olmak için; yenilikçi, yüksek kaliteli, profesyonel hizmetler vermektedir.

                    Firmaların web tasarım ihtiyaçlarını giderirken hangi hassasiyetlerinin olduğunu, beklentilerinin neler olduğunu iyi analiz eder ve çözüme kavuşturur. Bu çözüme "ajans çalışanlarımızın uzun yıllara dayalı tecrübe ve birikimlerini işlerine katmaları" ile mümkün olmaktadır.

                    Doğru stratejiler ve tanıtım, sunum taktikleri ile hedef kitleye, optimum bütçe ile ve bu yatırımın karşılığını verebilme telaşı aktivitelerini mükemmel kılmaya çalışmaktadır.

                    İva Yazılım gücünü bu amatör ruhunu, profesyonelce iş planlarına ve tasarım yeteneklerine güvenerek; çözüm arayan müşterilerine yıllardır yüksek kalite çözümler sunmaktadır..

                    İva Yazılım web tasarım ajansı bir aile firması oluşunun sıcaklığını, samimiyetini; yılların deneyiminin getirdiği özgüveni ve iş bilgisini, kaliteli ve memnuniyet odaklı hizmet anlayışının getirdiği profesyonelliğini tüm işlerine ve iletişimine yansıtmaktadır.
                </p>
            </div>
        </div>
    </div>
</div>